html, body {
    margin: 0;
}

#draw {
  border: solid 2px black;
  height: 500px;
  width: 900px;
}

.header {
  display: flex;
  justify-content: center;
  font-family: 'Dancing Script', cursive;
  text-shadow: 4px 4px 2px #aaa;
}

h1 {
  font-size: 70px;
}
